Account,Name,Invoice Number,Invoice Date,Advice Note,Advice Date,Order Number,Product,Description,Quantity,Net Price,Per,Unit,Goods,VAT,Total,Engineer/Job
"123456","ACCOUNT","INVOICE/001",24/06/2022,"INVOICE/001",24/06/22,"ORDER REF","PARTCODE 123ABC","Equipment Description",100,0.23,1,each,23,4.6,27.6, 

